<h1>
    Projects
</h1>

{%- for project in collections.projects reversed -%}
    <p>
        {{ project.data.title }}
    </p>
    <p>
        {{ project.data.description | markdown }}
    </p>
{%- endfor -%}
