<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
    <title>Richard Rzeszutek :: Projects</title>
    <body>
        <div class="font-sans container md:mx-auto md:w-7/12">
            <header>
                <h1 class="text-6xl font-header font-thin">
                    Richard Rzeszutek
                    <sub class="text-xl text-gray-400">BEng | MASc | PhD</sub>
                </h1>
            </header>

            <!-- <section class="section">
                <h1>Projects</h1>
            </section> -->

            <section class="section">
                {% include sections/selected-publications.liquid %}
            </section>
            <div class="mt-4 text-gray-600">
                &copy; {{ copyright.year }} Richard Rzeszutek
            </div>
        </div>
    </body>
</html>
