<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
    <title>Richard Rzeszutek :: Projects</title>
    <body>
        <div class="font-sans container md:mx-auto md:w-4/6">
            {% include sections/selected-publications.liquid %}
        </div>
    </body>
</html>
