<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
    <title>Richard Rzeszutek :: Projects</title>
    <body>
        <div class="font-sans container mx-auto px-2 w-full sm:px-0 sm:w-10/12 lg:max-w-screen-md">
            <header class="mb-4">
                <h1 class="text-5xl sm:text-6xl font-header font-thin">
                    Richard Rzeszutek
                    <span class="text-xl text-gray-400">PhD</span>
                </h1>
            </header>

            <section class="section">
                {% include "sections/projects.liquid" %}
            </section>

            <section class="section">
                {% include "sections/selected-publications.liquid" %}
            </section>

            <div class="mt-4 text-xs text-gray-600">
                &copy; {{ copyright.year }} Richard Rzeszutek
            </div>
        </div>
    </body>
</html>
